
{% extends "users/base.html" %}
{% block content %}
{% load static %}
<head>
    <title>University Map</title>
    <link rel="stylesheet" href="{% static 'map.css' %}">
</head>
<body>

    <div id="container">
        <div id="map"></div>
    </div>

    <script src="{% static 'map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpOiF-121i2BcRBwWHg2ZSJxSl2QGsAwY&libraries=places"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpOiF-121i2BcRBwWHg2ZSJxSl2QGsAwY&callback=initMap" async defer></script>
</body>
{% endblock %}
