body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}