{% extends "users/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'facialsearch/facialsearch.css' %}">

<!DOCTYPE html>
<html>
<head>
    <title>Facial Search</title>
</head>
<body>
    <h2>Facial Search</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="images" accept="image/*" multiple required><br><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>
{% endblock %}