<!-- recovery_success.html -->
{% extends "users/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'LostFound/LostFound.css' %}">
<script src="{% static 'LostFound/LostFound.js' %}"></script>

<div class="recovery-success-container">
    <h2>Reporting Successful</h2>
    <p>Thank you for submitting the item.</p>
    <p>Please proceed to the proctor's office during office hours handover the item under item Number : {{item.id}}.</p>
    <!-- Additional instructions or information can be added here -->
</div>

{% endblock content %}
