
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        input[type="file"] {
            display: block;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
        .card {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            overflow: hidden;
        }
        
        .card-header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        
        .card-body {
            padding: 20px;
        }
        
        .card-body p {
            margin: 0;
        }
        
        p.no-profiles {
            color: #666;
            font-style: italic;
        }
        /* buttons for involvements */
/* Style for the button-like links */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  /* Hover effect */
  .btn:hover {
    background-color: #2980b9;
  }
  
  /* Additional styling for the second button (optional) */
  .btn-secondary {
    background-color: #e74c3c;
  }
  
  .btn-secondary:hover {
    background-color: #c0392b;
  }
  